@tailwind base;

@tailwind components;

@tailwind utilities;

.nav-link {
  @apply py-6 block;
}

@screen lg {
  .nav-link {
    @apply px-6;
  }
}

.nav-link:hover {
  @apply text-black;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: theme('colors.gray.600');
}
